@font-face {
    font-family: "ikaros";
    src: url("../public/fontes/Ikaros-Light.otf") format('opentype');
    font-weight: 400;
  }
  @font-face {
    font-family: "ikaros";
    src: url("../public/fontes/Ikaros-Regular.otf") format('opentype');
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: "collingar";
    src: url("../public/fontes/Collingar\ DEMO.otf") format('opentype');
    font-style: normal;
  }





